#details-container{
  margin: 10px auto;
  max-width: 600px;
  margin-bottom: 76px;
}
.auction-details {
  margin: 20px 20px;
}

.nav-link{
  margin: 5px;

}

.bid-list {
  list-style-type: none;
}

#erase-btn,
#bid-btn {
  margin: 5px;
  width: 50%;
}