.bid-container {
  margin: 10px auto 86px;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Ändrad från 'center' till 'flex-start' */
}

.bid-box {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.bid-box h2 {
  margin-bottom: 20px;
}

.input-container {
  margin-bottom: 10px;
}

.input-container label {
  display: block;
  font-weight: bold;
}

.input-container input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.bid-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
.bid-amount-input {
  position: relative;
}

.bid-amount-input input {
  padding-right: 20px; /* Lägg till lite extra utrymme till höger för valutasymbolen */
}

.bid-amount-input::after {
  content: "kr";
  position: absolute;
  top: 50%;
  right: 10px; /* Justera avståndet från höger sida */
  transform: translateY(-50%);
  color: #000; /* Färg på valutasymbolen */
}

.bold-text {
  font-weight: bold;
}
