.bid {
  margin: auto;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 90px;
}

.bid-title {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}

.leading-bid {
  margin-bottom: 10px;
}

.leading-bid p {
  padding-top: 10px;
  padding-bottom: 5px;
}

.input-container {
  margin-bottom: 20px;
}

.input-container label {
  display: block;
  font-weight: bold;
}

.input-container input[type="text"],
.input-container input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.top-space {
  margin-top: 5px;
}
